$white-color: #FFFFFF;
$black-color: black;
$grey-color: #494949;
$lightgrey-color: #AAAAAA;
$blue-color : #427ED1;
$darkwhite-color: #F5F5F5;
$cian-color: #55CCE5;
$dark-grey: #303337;
$light-black: #2B2E32;
$low-black: #1C1E21;
$menu-hover-background: #FAFAFA;
$card-hover-selection: #e4e6e9;
$arrow-background: #dbd9d9;